<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <title>{% block title %} TODO App {% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'src/css/style.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-100 font-sans">
  <header class="text-center p-4 fixed top-0 w-full">
    <h1 class="font-bold text-3xl">TODO App</h1>
  </header>
  <main>
    <div class="container max-w-xl mx-auto px-4">
      <div class="flex flex-col justify-center items-center h-screen">
        {% block content %} {% endblock content %}
      </div>
    </div>
  </main>
  <footer class="text-center fixed bottom-0 w-full">
    <p>&copy; 2024 TODO App</p>
  </footer>
</body>
<script src="{% static 'src/js/action.js' %}"></script>

</html>